<%- include("header"); -%>

<% for(var i = todos.length - 1; i > -1; i--){ %>
    <form action="/toCurrent" method="post">
        <div class="box item">
            <p class="pAll">
                <a href= <%= "/" + i %> > <%=  todos[i].periodHeading %>  %></a>
            </p>
            <input type="hidden" name="item" value=<%= i %>>
            <button class="comp btn btn-primary" type="submit">Bieżący</button>
        </div>
    </form>
<% };  %>

<%- include("footer"); -%>