<%- include("header"); -%>

<div class="container">
    <div class="group">
        <div class="box" id="heading">
            <h3 class="listHeader">Do zrobienia </h3>
        </div>
        <div class="box">
            <input type="hidden" id="listIdHolder" value=<%= listId %>>
            <% for(var i = 0; i < newItems.length; i++) {  %>
                    <div class="item">
                        <p class="pAll"><%= newItems[i].value %></p>
                        <% if(listId > -1) { %>
                            <img name="exportImg" src="/images/share.png" id=<%= i %>>
                        <% } %>
                    </div>
            <% } %>
        </div>
    </div>

    <div class="group">
        <div class="box" id="heading">
            <h3 class="listHeader">Zrobione</h3>
        </div>
        <div class="box">
            <% for(var k = 0; k < completedItems.length; k++) {  %>
                    <div class="item">
                        <p class="oldItem"><%= completedItems[k].value %></p>
                    </div>
            <% } %>
        </div>
    </div>

</div>
<script src="/js/archivedList.js"></script>

<%- include("footer"); -%>