<%- include("header"); -%>
<div class="container">
    <div class="mainHeaderDiv">
        <h1 class="mainHeader">Zadania - ten nagłówek będzie dynamiczny</h1>
    </div>

    <div class="group">
        <div class="box" id="heading">
            <h1 class="listHeader">Do zrobienia <%= dayOfWeek %> </h1>
        </div>
        <div class="box">
            <% for(var i = 0; i < newItems.length; i++) {  %>

                <form action="/delete" method="post">
                    <div class="item">
                        <input class="chbx" type="checkbox" name="chbNew" value=<%= i %> onChange="this.form.submit()">
                        <p><%= newItems[i].value %></p>
                    </div>
                </form>
            <% } %>

            <form class="item" action="/" method="post">
                <input type="text" name="newListItem"  placeholder="new list item" autocomplete="off">
                <button type="submit">+</button>
            </form>
        </div>
    </div>

    <div class="group">
        <div class="box" id="heading">
            <h1 class="listHeader">Zrobione</h1>
        </div>

        <div class="box">
            <% for(var k = 0; k < completedItems.length; k++) {  %>
                <form action="/undelete" method="post" >
                    <div class="item">
                        <input type="checkbox" name="chbCompleted" value=<%= k %> onChange="this.form.submit()">
                        <p><%= completedItems[k].value %></p>
                    </div>
                </form>
            <% } %>
            <div class="item">

            </div>

        </div>
    </div>

</div>

<%- include("footer"); -%>